################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/PawsMeetings/bin/Debug/net6.0
/src/.vs
/src/PawsMeetings/obj
/src/PetsFile/obj
/src/PetsFile/bin/Debug/net6.0
/src/PetsFile.Application/bin/Debug/net6.0
/src/PetsFile.Application/obj
/src/PetsFile.DataSeeder/obj
/src/PetsFile.Domain/bin/Debug/net6.0
/src/PetsFIle.Infrastructure/bin/Debug/net6.0
/src/PetsFIle.Infrastructure/obj
/src/PetsFile.Domain/obj
/src/PetsFIle.Infrastructure/PetsMetadata/Database/TraitWriterSql.cs
/src/PetsFIle.Infrastructure/PetsMetadata/Database/TraitReaderSql.cs
/src/PetsFIle.Infrastructure/PetsMetadata/Database/PetTypeWriterSql.cs
/src/PetsFIle.Infrastructure/PetsMetadata/Database/PetTypeReaderSql.cs
/src/PetsFIle.Infrastructure/Pets/Database/PetWriterSql.cs
/src/PetsFIle.Infrastructure/Pets/Database/PetReaderSql.cs
/src/PetsFIle.Infrastructure/Owners/Database/OwnerWriterSql.cs
/src/PetsFIle.Infrastructure/Owners/Database/OwnerReaderSql.cs
/src/PetsFIle.Infrastructure/Owners/Database/OwnerAddressWriterSql.cs
/src/PetsFIle.Infrastructure/Owners/Database/OwnerAddressReaderSql.cs
/src/PetsFIle.Infrastructure/Matching/Database/PetMatchReaderSql.cs
/src/PetsFIle.Infrastructure/Common/Database/DapperConnectionProvider.cs
/src/PetsFile.Application/Common/Interfaces/IDapperConnectionProvider.cs
/src/PetsFile.Application/Common/Config/DapperOptions.cs
